@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
th{
  font-size: 1rem;
  padding-left: 40px;
  padding-right: 40px;
}
td{
  padding-left: 40px;
  border-right: 2px solid gray;
  border-top: 1px solid gray;
}
table{
  height: 400px;
  width: 400px;
  font-size: 0.9rem;
}
.tdEspecial{
  border-right: none;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link-parent {
    
    @apply grid grid-rows-[max-content_0fr] 
    
    overflow-hidden transition-[grid-template-rows] 
    cursor-pointer;
  }
  .link-parent[data-toggle] {
    @apply grid-rows-[max-content_1fr];
  }
  [data-toggle] [data-row]{
    @apply rotate-180
  }
  .link-child {
    @apply overflow-hidden ml-4 border-gray-200;
  }
}